{% extends 'base/Sidebar.html' %}
{% load crispy_forms_tags %}
<DOCTYPE html>
{% block content %}
<style>
    .spinner-grow{
        width:18px;
        height:18px;
        animation-duration: 1.4s;
      }
</style>
<main class="content">
    
    {% if user.is_authenticated%}
    <div class="container-fluid">
            <div class="py-5 px-4 h6 m-0">
                <a class="text-body btn" onClick="javascript:history.go(-1);" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>&nbsp;
                    
                    Volver
                </a>
            <div>
            
                <div class="d-flex flex-row justify-content-between align-content-center pt-3 mx-4">
                    <p class="text-start mt-4">{{fechaHoy}}</p>
                    <h1 class="text-center font-weight-bold mx-3">Administración Organizacional</h1>
                    <a href="/" class="d-flex flex-row align-items-center mt-4 mx-3 justify-content-center">
                        <button class="w-100 btn btn-sm  btn-outline-secondary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg></button>
                    </a>
                    
                </div>
                <p class="h5 text-start mx-4 mb-4">{{today}}</p><hr>
                <div class="card shadow mb-4">
                    <div class="card-header bg-primary">
                        <h5 class="card-title text-white fw-bold">Información de oganigrama</h5>
                    </div>
                
                <div class="row p-4 px-5">
                    <div class="shadow m-4  p-5 bg-light align-content-center justify-content-around row">
                        <p class="py-3">Registros</p>
                        <div class="card shadow p-0 col-md-12 col-xl-4">
                            <div class="card-header d-flex bg-primary flex-row align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="mx-3 text-white bi bi-record-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                  </svg>
                                <h6 class="card-title pt-2 text-white">Platillos</h6>
                            </div>
                            <div class="card-body pt-3">
                                <div class="d-flex flex-row align-items-center  mt-2 px-2">
                                    <h6 class="card-title text-secondary pb-1">Disponibles en bodega:</h6>
                                    <p class="card-text  fw-bold px-2 "> {{porcionesTotal}}</p>
                                    <p class="spinner-grow p-0 mx-1 pb-1 {% if porcionesTotal < 2 %} bg-danger {% elif porcionesTotal > 2 %} bg-success{% endif %}"></p>
                                </div><hr>
                                <div class="d-flex flex-row align-items-center mb-3 px-2">
                                    <h6 class="card-title text-secondary mb-1">Platillos consumidos hoy:</h6>
                                    <p class="card-text  fw-bold px-2 pb-2"> {{porcionesUtilizadasTotal|floatformat:0}}</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card shadow p-0 col-md-12 col-xl-4">
                            <div class="card-header bg-primary d-flex flex-row align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="mx-3 text-white bi bi-card-checklist" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                </svg>
                                <h6 class="card-title pt-1 text-white">Registros</h6>
                            </div>
                            <div class="card-body ">
                                <div class="d-flex flex-row  align-items-center  mt-2 px-2">
                                    <h6 class="card-title text-secondary pb-2">Registros totales hoy:</h6>
                                    <p class="card-text  fw-bolder px-2 pb-0 pb-1">{{registrosHoy}}</p>
                                    <p class="spinner-grow p-0 mx-1 pb-3{% if registrosHoy == 0 %} bg-danger {% elif registrosHoy > 0 %} bg-success{% endif %}"></p>
                                </div><hr>
                                <div class="d-flex flex-row align-content-center align-items-center   px-2">
                                    <h6 class="card-title text-secondary pb-1">Registros totales:</h6>
                                    <p class="card-text  fw-bolder px-2 pb-2">{{registrosTotales}}</p>
                                </div>
        
                            </div>
                        </div>
                    
                    </div>
                    <div class=" card-body col-12 mt-4 p-4 container-fluid shadow m-4  p-5 bg-light align-content-center justify-content-around row">
                        <p class="py-3">Organización</p>
                        <!-- /.card-header -->
                        <div class="card-body p-3 ">
                                <div class="text-secondary bg-white p-4 px-3 border-bottom shadow" id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </main>
            </section>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header justify-content-center">
                            <h4 class="modal-title fw-bold ">{{title}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="card-body bg-white p-5 w-100">
                                <form  method="POST" >
                                    {% csrf_token %}
                                    <div class="row mt-4">
                                        <div class="col-6 mb-4">{{form.nombre|as_crispy_field }}</div>
                                        <div  class="col-6">{{form.Porciones|as_crispy_field }}</div>
                                        <div  class="col-6">{{form.start_time|as_crispy_field }}</div>
                                        <div  class="col-6">{{form.end_time|as_crispy_field }}</div>
                                        <div  class="col-6 mt-4">{{form.productos|as_crispy_field }}</div>
                                    </div>
                                    <div class="d-flex justify-content-center mt-5 gap-3">
                                        <button class="btn btn-primary px-4 fw-bolder ">
                                            {{button}}
                                        </button>
                                        &nbsp;
                                        <a class="btn btn-secondary px-4 fw-bolder" href="">
                                            Cancelar
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer text-center fw-bold text-secondary pb-5 justify-content-center">
                            © all rights reserved - 2023
                        </div>
                  </div>
                  
                </div>
            </div>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                $(".closeButton").click(function(){
                    $("#myModal").modal('hide')
                }); 
                var calendarEl = document.getElementById('calendar');
            
                var calendar = new FullCalendar.Calendar(calendarEl, {
                  initialView: 'dayGridMonth',
                  locale: 'es',
                  themeSystem: 'bootstrap5',
                  headerToolbar: {
                    locale: 'es',
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                  },
                  selectable:true,
                  editable:true,
                  select:function(){
                    $('#myModal').appendTo("body").modal('show');
                    
                    
                  },
                  eventClick: function(event, element) {
                    //do something when event clicked
                    
                },
                  events: [
                    {% for dates in date %}
                        {
                        title: '{{dates.productos}} -Cant. {{dates.Porciones}}' ,
                        description:' {{dates.nombre}}',
                        start: "{{dates.start_time | date:'Y-m-d'}}",
                        end: "{{dates.end_time | date:'Y-m-d'}}",
                        background : "rgb('108,117,125')",
                        textColor : 'white',
                        },
                    {% endfor %}
                  ]
                });
            
                calendar.render();
              });

        </script>
    {% else %}
        <h1 class="fw-bold">No tienes Acceso! inicia sesión para continuar<h1>

    {% endif %}    
    </body>
    {% endblock %}
</html>